@font-face {
    font-family: 'Neusa Next Pro-CondensedRegular';
    src: url('../fonts/neusanextpro-condensedregular-webfont.woff') format('woff'),
        url('../fonts/neusanextpro-condensedregular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Neusa Next Pro-CondensedBold';
    src: url('../fonts/NeusaNextPro-CondensedBold.woff') format('woff'),
        url('../fonts/NeusaNextPro-CondensedBold.woff2') format('woff2');
}



@font-face {
    font-family: 'Neusa Next Pro-Medium';
    src: url('../fonts/NeusaNextPro-Medium.woff') format('woff'),
        url('../fonts/NeusaNextPro-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Neusa Next Pro Compact Bold';
    src: url('../fonts/NeusaNextPro-CompactBold.woff') format('woff'),
        url('../fonts/NeusaNextPro-CompactBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Neusa Next Pro Compact Regular';
    src: url('../fonts/neusanextpro-compactregular-webfont.woff') format('woff'),
        url('../fonts/NeusaNextPro-CompactRegular.woff2') format('woff2');
}

@font-face {
    font-family: 'Neusa Next Pro Compact Medium';
    src: url('../fonts/neusanextpro-compactmedium-webfont.woff') format('woff'),
        url('../fonts/neusanextpro-compactmedium-webfont.woff2') format('woff2');
}


@font-face {
    font-family: 'Neusa Next Pro Bold';
    src: url('../fonts/NeusaNextPro-Bold.woff') format('woff'),
        url('../fonts/NeusaNextPro-Bold.woff2') format('woff2');
}