@font-face {
    font-family: 'Neusa Next Pro';
    src: url('NeusaNextPro-Medium.woff2') format('woff2'),
        url('NeusaNextPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

